body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header{
display:flex;
align-items:center;
justify-content:space-between;
padding:10px 40px;
background:#0a4ea3;
}

nav{
display:flex;
gap:25px;
}

.logo{
height:100px;
width:auto;
}

.title{
    font-size:22px;
    font-weight:bold;
}

.code-box{
    background:#1e1e1e;
    color:#dcdcdc;
    padding:15px;
    border-radius:8px;
    width:600px;
    margin:30px;
    font-family: Consolas, monospace;
}
nav{
background:#0a4ea3;
 
}

nav a{
display:flex;
align-items:center;   font-weight: bold;
padding:14px 20px;
color:white;
text-decoration:none;
}

.dropdown{
position:relative;
}

.dropdown-content{
display:none;
position:absolute;
background:white;
min-width:200px;
box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.dropdown-content a{
color:black;
display:block;
padding:10px;
}

.dropdown:hover .dropdown-content{
display:block;
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
background:white;
}

h1{
color:#0a4fa3;
}

.search{
margin-left:auto;
}

input{
padding:6px;
}

#topBtn{
position:fixed;
bottom:30px;
right:30px;
background:#0a4fa3;
color:white;
border:none;
padding:12px;
cursor:pointer;
}

/* CODE BLOCK DARK */

pre{
background:#111;
color:#eee;
padding:15px;
overflow:auto;
border-radius:6px;
}

code{
font-family: monospace;
color:#9cdcfe;
}
 

.algorithm-list{
display:flex;
flex-wrap:wrap;
gap:12px;
margin:20px 0;
padding:0;
list-style:none;
}
 

.algorithm-list a{

display:inline-block;

padding:10px 18px;

background:#0a4ea3;

color:white;

text-decoration:none;

border-radius:6px;

font-weight:bold;

transition:0.3s;

box-shadow:0 3px 6px rgba(0,0,0,0.15);

}

 

.algorithm-list a:hover{

background:#003f88;

transform:translateY(-2px);

box-shadow:0 6px 12px rgba(0,0,0,0.2);

}

 

.algorithm-list a:active{

transform:scale(0.97);

}
footer{
background:#0a4ea3;
color:white;
margin-top:60px;
}

.footer-container{

max-width:1100px;
margin:auto;

display:flex;
justify-content:space-between;
gap:40px;

padding:40px 20px;
flex-wrap:wrap;

}

.footer-left{
flex:1;
}

.footer-left h2{
margin-top:0;
}

.footer-right{
min-width:200px;
}

.footer-right h3{
margin-top:0;
}

.footer-bottom{

text-align:center;

background:#083b7a;

padding:12px;

font-size:14px;

}